div.box {
    position: relative;
    top: 130px;
    left: 355px;
    width: fit-content;
}

.text h1 {
    color: white;
    position: absolute;
    bottom: 280px;
    right: 10px;
    text-align: center;
    font-size: 45px;
}

.muscheln #Muschel1 {
    position: absolute;

}