div.Box {
    position: relative;
    top: 180px;
    left: 355px;
    width: fit-content;
}

.text h1 {
    color: white;
    position: absolute;
    bottom: 260px;
    left: 70px;
    font-size: 45px;
}

.Muscheln #Muschel1 {
    position: absolute;
    bottom: 150px;
    left: 160px;
}

.Muscheln #Muschel2 {
    position: absolute;
    bottom: 150px;
    left: 260px;
}

.Muscheln #Muschel3 {
    position: absolute;
    bottom: 150px;
    left: 360px;
}

.Muscheln #Muschel1:hover{
    background-image: url(images/muschel_perle.png);
}
.Muscheln #Muschel2:hover{
    background-image: url(images/muschel_perle.png);
}

.open:hover{
    opacity: 0%;
}