.everything {
    margin: auto;
    margin-top: 0px;
    padding-bottom: 50px;
    width: 800px;
}


.header{
    background-color: rgb(131, 21, 49);
    height: 380px;
    border-bottom-left-radius: 550px;
    border-bottom-right-radius: 550px;
    position: relative;
}

a{
    color:rgb(131, 21, 49);
    text-decoration: none;
}

li{
    text-decoration: none;
}

.navi {
    background-color: rgb(131, 21, 49);
    width: 790px;
    top: 0px;
    padding: 5px 5px 5px 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
}


.navi a{
    color: ivory;
    font-size: 25px;
    font-family: cursive, sans-serif;
    text-decoration: none;
    border-radius: 18px;
    border: 2px solid transparent;
    transition-duration: 0.4s;
    margin: 0 70px;
}

.navi a:hover {
    border: 2px solid ivory;
}

.navi .active {
    color: rgb(131, 21, 49);
    background-color: ivory;
}

.navigation {
    position: relative;
    left: 20px;
}


.header-headline {
    font-family: cursive, sans-serif;
    font-size: 26pt;
    text-decoration: ivory;
    color: ivory;
    padding: 60px;
}


.socials-box {
    width: fit-content;
    position: absolute;
    top: 205px;
    right: 160px;
}

.socials {
    opacity: 40%;
    transition-duration: 1s;
}

.socials:hover {
    opacity: 100%;
}


body {
    font-family: cursive, sans-serif;
    color: #000;
}


.main-headlines {
    color: rgb(131, 21, 49);
    text-decoration: rgb(131, 21, 49);
}


h3 {
    color: rgb(139, 49, 71);
}

.contact-form {
  width: fit-content;
}

.contact-text {
    background-color: rgb(139, 49, 71);
    opacity: 90%;
    padding: 5px 5px;
    width: 200px;
    border-radius: 20px;
}

#contact-message {
    background-color: rgb(139, 49, 71);
    opacity: 90%;
    padding: 5px 5px;
    width: 200px;
    border-radius: 20px;
}

::placeholder{
    color: ivory;
    font-family: cursive, sans-serif;
    font-size: 20px
}

#privacy-policy {
    font-family: cursive, sans-serif;
    font-size: 15px;
    color: rgb(139, 49, 71);
    opacity: 80%;
}

.contact-button {
    background-color: ivory;
    color: rgb(131, 21, 49);
    font-family: cursive, sans-serif;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    border-color: rgb(131, 21, 49) ;
}
