.everything {
    margin: auto;
    margin-top: 0px;
    padding-bottom: 50px;
    width: 800px;
}


.header{
    background-color: rgb(131, 21, 49);
    height: 450px;
    border-bottom-left-radius: 550px;
    border-bottom-right-radius: 550px;
    position: relative;
}

a{
    color: white;
    text-decoration: none;
}

li{
    text-decoration: none;
}

.navi {
    background-color: rgb(131, 21, 49);
    width: 790px;
    top: 0px;
    padding: 5px 5px 5px 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
}


.navi a{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 18px;
    border: 2px solid transparent;
    transition-duration: 0.4s;
    margin: 0 70px;
}

.navi a:hover {
    border: 2px solid white;
}

.navi .active {
    color: black;
    background-color: white;
}

.navigation {
    position: relative;
    left: 20px;
}


.header-headline {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: white;
    padding: 30px 0;
}

.socials-box {
    width: fit-content;
    position: absolute;
    top: 300px;
    right: 300px;
}

.socials {
    opacity: 60%;
    transition-duration: 1s;
}

.socials:hover {
    opacity: 100%;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}



.contact-form {
    width: 500px;
    background-color: dimgrey;
    padding: 10px;
    border: 2px solid dimgrey;
    opacity: 70%;
    border-radius: 5px;
    font-size: 16px;

}
