div.box {
    position: relative;
    top: 130px;
    left: 355px;
    width: fit-content;
    margin: 10px 10px;
}

.penguin {
    position: absolute;
    left: 450px;
    bottom: 20px;
}

.shells {
    position: absolute;
    bottom: 17px;
}

.text {
padding: 20px 40px;
}

.text h1 {
    color: white;
    position: absolute;
    bottom: 280px;
    right: 10px;
    text-align: center;
    font-size: 45px;
}

.text p {
    color: white;
    position: absolute;
    bottom: 135px;
    
}

